.Card-image-container img {
    max-width: 100%;
}

.Card {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 6px;
    padding: 2rem;
    color: #000;
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2),
        0 0 1rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.Card-image-container {
    margin: -2rem -2rem 1rem -2rem;
    overflow: hidden;
}

.Card-line {
    opacity: 0;
    animation: LineFadeIn 0.8s 0.8s forwards ease-in;
}

.Card-image {
    opacity: 0;
    animation: ImageFadeIn 0.8s 1.4s forwards;
}

.Card-title {
    /* color: black; */
    margin-top: 0;
    font-weight: 800;
    letter-spacing: 0.01em;
}

.Card-content {
    margin-top: -2.5rem;
    opacity: 0;
    animation: ContentFadeIn 0.8s 1.6s forwards;
}

.Card-svg {
    position: absolute;
    left: 0;
    top: 18%;
}

@keyframes LineFadeIn {
    0% {
        opacity: 0;
        d: path(
            'M 0 300 Q 0 300 0 300 Q 0 300 0 300 C 0 300 0 300 0 300 Q 0 300 0 300 '
        );
        stroke: #f08a5d;
    }
    50% {
        opacity: 1;
        d: path(
            'M 0 300 Q 50 300 100 300 Q 250 300 350 300 C 350 300 500 300 650 300 Q 750 300 800 300'
        );
        stroke: #f08a5d;
    }
    100% {
        opacity: 1;
        d: path(
            'M -2 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 802 400'
        );
        stroke: #f08a5d;
    }
}

@keyframes ContentFadeIn {
    0% {
        transform: translateY(-1rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes ImageFadeIn {
    0% {
        transform: translate(-0.5rem, -0.5rem) scale(1.05);
        opacity: 0;
        filter: blur(2px);
    }
    50% {
        opacity: 1;
        filter: blur(2px);
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
        filter: blur(0);
    }
}

.Heart {
    width: 100px;
    height: 100px;
    background: url('https://cssanimation.rocks/images/posts/steps/heart.png')
        no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
}
.Heart:hover:not(.Heart.is-active) {
    transform: scale(1.2);
}

.Heart.is-active:hover {
    transform: scale(0.8);
}
.Heart.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
}
