@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    overflow-x: hidden;
}
body:has(.active-loading-screen) {
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
}
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@keyframes sign {
    to {
        stroke-dashoffset: 0;
        fill: #b83b5e;
    }
}
.signedLogo {
    stroke-dasharray: 7043;
    pointer-events: 'none';
    stroke-dashoffset: 7043;
    stroke-width: 5;
    stroke: #b83b5e;
    animation: sign 2s forwards;
    animation-delay: 0.3s;
}
